.app {
	display: flex;
	flex-direction: column;
}

body {
    background: url(http://iliketowastemytime.com/sites/default/files/li-river-justin-dong-hd-wallpaper_0.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-button, 
.register-button, 
.next-button {
    font-size: .85em;
    padding: 5px;
    color: black;
    text-decoration: none;
    border-color: #FFFFFF;
}

button {
    margin: 10px auto 0;
}